body {
    margin: 0 auto;
    width: 1000px;
                     /*    red  green blue  opacity */
    background-color: rgba(218, 226, 224, 0.5);
}
main {
    background-color: rgb(235, 230, 203);
}
header {
    height: 150px;
}
ul li {
    display: inline;
    padding: 10px;
    background-color: rgb(230, 200, 120);
    border-radius: 15px;
}
#footerList li {
    display: inline;
    padding: 10px;
    background-color: rgb(85,136,212);
    border-radius: 15px;
}
h1 {
    background-color: rgb(235, 230, 203);
    color: rgb(230, 200, 120);
    font-size: 50px;
    text-shadow:2px 2px rgb(44,94,141);
    margin-bottom: 20px;
}
nav {
    background-color: rgb(44,94,141);
    height: 100px;
}
footer {
    margin-top: 15px;
}

.MyTopTen {
    color: rgb(179, 41, 41);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.indexPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    padding-top: 20px;
    border-radius: 10px;
    border-color: rgb(44,94,141);
    border-style: inherit;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}